<div style="margin-top: 1.5rem">
  <div style="font-size: 25px; width: 50px; display: inline-block; vertical-align: top; color: #ccc">
    {% if note.note_type == 'NOTE' %}
      <i class="pencil alternate icon"></i>
      <span style="color: grey; font-size: 10px; text-align: center;">Note</span>
    {% elif note.note_type == 'DECISION' %}
      <i class="balance scale icon"></i>
      <span style="color: grey; font-size: 10px; text-align: center;">Decision</span>
    {% elif note.note_type == 'OPTIONS' %}
      <i class="sitemap icon"></i>
      <span style="color: grey; font-size: 10px; text-align: center;">Options</span>
    {% elif note.note_type == 'INFORMATION' %}
      <i class="bullhorn icon"></i>
      <span style="color: grey; font-size: 10px; text-align: center;">Information</span>
    {% elif note.note_type == 'PROGRESS' %}
      <i class="thumbtack icon"></i>
      <span style="color: grey; font-size: 10px; text-align: center;">Progress</span>
    {% elif note.note_type == 'TBD' %}
      <i class="tasks icon"></i>
      <span style="color: grey; font-size: 10px; text-align: center; width: 100%;">TBD</span>
    {% endif %}
  </div>
  <div class="ui comments" style="display: inline-block; vertical-align: top; margin-top: 0">
    <div class="comment">
      <div class="content">
        <a class="author">
          <span style="font-size: 15px;">
            {% if note.agenda_item.important_score == '0' %}
              <i class="exclamation circle icon blue"></i>
            {% elif note.agenda_item.important_score == '1' %}
              <i class="exclamation circle icon green"></i>
            {% elif note.agenda_item.important_score == '2' %}
              <i class="exclamation circle icon yellow"></i>
            {% elif note.agenda_item.important_score == '3' %}
              <i class="exclamation circle icon red"></i>
            {% endif %}
          </span>
          {{ note.creator }}
        </a>
        <div class="metadata">
          {% if note.assigned_to %}
            <div class="date">Assigned: @{{ note.assigned_to }}</div>
          {% endif %}
          {% if note.connect_to_ticket %}
            <div class="rating">
              <a href=""><i class="ticket icon"></i>
              {{ note.connect_to_ticket }}
            </div></a>
          {% endif %}
          {% if note.is_done %}
            <i class="check icon green"></i><span>{{ note.timestamp|date:"d.m.Y H:i:s" }}</span>
          {% endif %}
        </div>
        <div class="text">
          {{ note.text }}
        </div>
        <div class="actions">
          <a class="reply" onclick="editItem('{{ note.id }}')">Edit</a>
          <a class="reply" onclick="deleteItem('{{ note.id }}')">Delete</a>
          <a class="reply" onclick="newComment('{{ note.id }}')">Comment</a>
          {% if not note.is_done %}
            <a class="save" style="margin-left: 15px">Alert</a>
            <a class="hide" onclick="markDone('{{ note.id }}')">Mark as done</a>
            <a class="reply" onclick="newTimeEstimate('{{ note.id }}')">Estimate time</a>
          {% endif %}
          {% if note.comment_set.all|length > 0 %}
            <a class="reply" href="{% url 'notes.create' note.meeting.id %}" style="margin-left: 15px">Show comments ({{ note.comment_set.all|length }})</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
