{% extends 'base.html' %}

{% block content %}
{% include 'partials/tabs.html' %}
<div class="ui segment" id="form_holder">
  <div>
    <h2 class="ui dividing header">Notes</h4>
    {% for notes in notes_list %}
      {% include 'partials/note.html' with notes=notes %}
    {% endfor %}
  </div>
</div>
<div class="ui two bottom attached buttons">
  <a href="{% url 'agenda_item.create' meeting_id %}" class="ui button">Previous</a>
  <button onclick="showFinishMeetingModal('{{ meeting_id }}');" class="ui button primary">Done</button>
</div>

<div id="edit_modal_holder"></div>

<div class="ui modal" id="new_note_modal">
  <div class="header">Add new note</div>
  <div class="content">
    {% include 'partials/default_form.html' with form=form %}
  </div>
</div>

<script>
  function newComment(note_id) {
    $.get( "/meetings/comment/create/" + note_id + "/", function( data ) {
      $('#edit_modal_holder').html(data);
    })
    .done(function( data ) {
      $('#create_comment_modal').modal('show');
    });
  }

  function showFinishMeetingModal(meeting_id) {
    $.get( "/meetings/meeting/finish/" + meeting_id + "/", function( data ) {
      $('#edit_modal_holder').html(data);
    })
    .done(function( data ) {
      $('#finish_meeting_modal').modal('show');
    });
  }

  function showNewNoteModal(agenda_item_id) {
    $('#new_note_modal').modal('show');
    $('#id_agenda_item').val(agenda_item_id).change();
  }

  function markDone(note_id) {
    $.post( "/meetings/notes/done/" + note_id + "/", function( data ) {
      location.reload();
    });
  }

  function deleteItem(note_id) {
    $.post( "/meetings/notes/delete/" + note_id + "/", function( data ) {
      location.reload();
    });
  }

  function editItem(note_id) {
    $.get( "/meetings/notes/edit/" + note_id + "/", function( data ) {
      $('#edit_modal_holder').html(data);
    })
    .done(function( data ) {
      $('select.search.dropdown').dropdown();
      $('#edit_note_modal').modal('show');
    });
  }
</script>
{% endblock %}
