{% extends 'base.html' %}

{% block title %}Notes{% endblock %}

{% block content %}
<div class="ui grid">
  <div class="eight wide column">
    <div class="ui segment">
      <h2 class="ui dividing header">Agenda Items</h4>
        <div class="ui relaxed divided list">
          {% for agenda_item in agenda_items %}
            {% include 'partials/agenda_item.html' with agenda_item=agenda_item %}
          {% endfor %}
        </div>
    </div>
  </div>
  <div class="forms eight wide column">
    <div class="ui segment">
      <h2 class="ui dividing header">Add new note</h4>
      {% include 'partials/default_form.html' with form=form %}
    </div>
  </div>
</div>
<div class="ui three bottom attached buttons">
  <button onclick="history.back()" class="ui button">Previous</button>
  <button onclick="submitForm(0)" class="ui button secondary">Add another</button>
  <button onclick="submitForm(1)" class="ui button primary">Next</button>
</div>
{% endblock %}
