{% extends 'base.html' %}

{% block content %}
<div class="ui segment" id="form_holder">
  <div>
    <h2 class="ui dividing header">Assigned to me</h4>
    {% for note in assigned %}
      {% include 'notes/detail_view.html' with note=note %}
    {% endfor %}
  </div>
  <h2 class="ui dividing header">Created by me</h4>
    {% for note in created %}
      {% include 'notes/detail_view.html' with note=note %}
    {% endfor %}
  </div>
</div>

<div id="edit_modal_holder"></div>

<script>
  function newComment(note_id) {
    $.get( "/meetings/comment/create/" + note_id + "/", function( data ) {
      $('#edit_modal_holder').html(data);
    })
    .done(function( data ) {
      $('#create_comment_modal').modal('show');
    });
  }

  function newTimeEstimate(note_id) {
    $.get( "/meetings/time_estimate/create/" + note_id + "/", function( data ) {
      $('#edit_modal_holder').html(data);
    })
    .done(function( data ) {
      $('#create_time_estimate_modal').modal('show');
    });
  }

  function markDone(note_id) {
    $.post( "/meetings/notes/done/" + note_id + "/", function( data ) {
      location.reload();
    });
  }

  function deleteItem(note_id) {
    $.post( "/meetings/notes/delete/" + note_id + "/", function( data ) {
      location.reload();
    });
  }

  function editItem(note_id) {
    $.get( "/meetings/notes/edit/" + note_id + "/", function( data ) {
      $('#edit_modal_holder').html(data);
    })
    .done(function( data ) {
      $('select.search.dropdown').dropdown();
      $('#edit_note_modal').modal('show');
    });
  }
</script>
{% endblock %}
