<h4 class="ui dividing header">
  <span style="font-size: 15px;">
    {% if agenda_item.important_score == '0' %}
      <i class="exclamation circle icon blue"></i>
    {% elif agenda_item.important_score == '1' %}
      <i class="exclamation circle icon green"></i>
    {% elif agenda_item.important_score == '2' %}
      <i class="exclamation circle icon yellow"></i>
    {% elif agenda_item.important_score == '3' %}
      <i class="exclamation circle icon red"></i>
    {% endif %}
  </span>
  {{ agenda_item.title }}
</h4>
<div class="item">
  <div class="ui comments">
    <div class="comment">
      <div class="content">
        {% if agenda_item.is_done %}
          <div class="metadata">
            <i class="check icon green"></i><span>{{ agenda_item.done_timestamp|date:"d.m.Y H:i:s" }}</span>
            <br />
          </div>
        {% endif %}
        <div class="text">
          {{ agenda_item.text }}
        </div>
        <div class="actions">
          <a class="reply" onclick="editItem('{{ agenda_item.id }}')">Edit</a>
          <a class="reply" onclick="deleteItem('{{ agenda_item.id }}')">Delete</a>
          {% if not agenda_item.is_done %}
            <a class="save">Alert</a>
            <a class="hide" onclick="markDone('{{ agenda_item.id }}')">Mark as done</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>