{% load widget_tweaks %}
<form method="post" class="ui form" {% if form_action %}action="{{ form_action }}"{% endif %}>
  {% csrf_token %}

  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="field">
      {% for error in field.errors %}
        <div class="ui pointing below red basic label">
          {{ error }}
        </div>
      {% endfor %}
      {% if 'checkbox' in field.field.widget.input_type %}
        <div class="ui checkbox">
          {{ field }}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
      {% else %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      {% endif %}
    </div>
  {% endfor %}

  <div class="ui one bottom attached buttons">
    <button type="submit" class="ui button primary">Save</button>
  </div>
</form>
