<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="https://www.decolore.net/wp-content/uploads/2018/09/50-incredible-3d-logo-design-examples-for-inspiration-cover.png">
      &nbsp;&nbsp;&nbsp;{% block title %}Documentor{% endblock %}
    </a>
    {% if user.is_authenticated %}
      <a href="/" class="item">Home</a>
      <div class="ui simple dropdown item">
        Meetings <div class="ui label teal">23</div> <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="{% url 'meetings.index' %}">Overview</a>
          <a class="item" href="{% url 'notes.own' %}">Own Notes</a>
        </div>
      </div>
      <div class="right menu">
        <div class="ui simple dropdown item">
          User <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="{% url 'meetings.index' %}">Profile</a>
            {% if user.is_superuser %}
              <a href="/admin" class="item">Admin</a>
            {% endif %}
          </div>
        </div>
        <a class="ui item" href="{% url 'logout' %}">
          Logout
        </a>
      </div>
    {% else %}
      <div class="right menu">
        <a class="ui item" href="{% url '/admin/login' %}">
          Login
        </a>
      </div>
    {% endif %}
  </div>
</div>
