
{% for agenda_item, note_qs in notes.items %}
<h4 class="ui dividing header">
  <span style="font-size: 15px;">
    {% if agenda_item.important_score == '0' %}
      <i class="exclamation circle icon blue"></i>
    {% elif agenda_item.important_score == '1' %}
      <i class="exclamation circle icon green"></i>
    {% elif agenda_item.important_score == '2' %}
      <i class="exclamation circle icon yellow"></i>
    {% elif agenda_item.important_score == '3' %}
      <i class="exclamation circle icon red"></i>
    {% endif %}
  </span>
  {{ agenda_item.title }}
</h4>
  {% if note_qs|length > 0 %}
    {% for note in note_qs %}
    <div class="ui comments" style="margin-left: 10px;">
      <div class="comment">
        <div class="content">
          <a class="author">{{ note.creator }}</a>
          <div class="metadata">
            {% if note.assigned_to %}
              <div class="date">Assigned: @{{ note.assigned_to }}</div>
            {% endif %}
            {% if note.connect_to_ticket %}
              <div class="rating">
                <a href=""><i class="ticket icon"></i>
                {{ note.connect_to_ticket }}
              </div></a>
            {% endif %}
            {% if note.is_done %}
              <i class="check icon green"></i><span>{{ note.timestamp|date:"d.m.Y H:i:s" }}</span>
            {% endif %}
          </div>
          <div class="text">
            {{ note.text }}
          </div>
          <div class="actions">
            <a class="reply" onclick="editItem('{{ note.id }}')">Edit</a>
            <a class="reply" onclick="deleteItem('{{ note.id }}')">Delete</a>
            <a class="reply" onclick="newComment('{{ note.id }}')">Comment</a>
            {% if not note.is_done %}
              <a class="save">Alert</a>
              <a class="hide" onclick="markDone('{{ note.id }}')">Mark as done</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% for comment in note.comment_set.all %}
      <div class="ui comments" style="margin-left: 50px;">
        <div class="comment">
          <div class="content">
            <a class="author">{{ comment.creator }}</a>
            <div class="text">
              {{ comment.text }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endfor %}
  {% else %}
  <div class="ui comments" style="margin-left: 10px;">
    <div class="comment">
      <div class="content">
        No notes for this point
      </div>
    </div>
  </div>
  {% endif %}
  <button class="ui basic button" onclick="showNewNoteModal('{{ agenda_item.pk }}');" style="width: 100%">
    <i class="icon add"></i>
    Add New
  </button>
{% endfor %}
