<div class="ui steps" style="width: 100%;">
  <div 
    class="step {% if 'meeting' in section %}active{% else %}completed{% endif %}" 
    {% if meeting_id %}
      onclick="window.location.href = '{% url 'meetings.edit' meeting_id %}'"
    {% endif %}>
    <i class="users icon"></i>
    <div class="content">
      <div class="title">Meeting</div>
      <div class="description">Basic information about the meeting</div>
    </div>
  </div>
  <div 
    class="step {% if 'agenda_item' in section %}active{% elif 'meeting' in section %}disabled{% else %}completed{% endif %}"
    {% if meeting_id %}
      onclick="window.location.href = '{% url 'agenda_item.create' meeting_id %}'"
    {% endif %}>
    <i class="clipboard list icon"></i>
    <div class="content">
      <div class="title">Agenda Item</div>
      <div class="description">Planned points to cover in meeting</div>
    </div>
  </div>
  <div 
    class="step {% if 'note' in section %}active{% elif 'agenda_item' in section or 'meeting' in section %}disabled{% endif %}"
    {% if meeting_id %}
      onclick="window.location.href = '{% url 'notes.create' meeting_id %}'"
    {% endif %}>
    <i class="sticky note outline icon"></i>
    <div class="content">
      <div class="title">Notes</div>
      <div class="description">Notes for the meeting</div>
    </div>
  </div>
</div>