<style>
    .wrapper {
        display:flex;
        flex-direction: row;
        justify-content: space-around; /* space-evenly */
    }
</style>

<div class="ui segment">
    <h2 class="ui dividing header">Planned time</h2>
    <div class="wrapper">
        {% for day_slot in time_slots %}
            {% for slot in day_slot %}
                <div class="inline" style="float: left; width: 100%; background-color: {% if slot %}red{% else %}green{% endif %}">&nbsp;</div>
            {% endfor %}
        {% endfor %}
    </div>
</div>