{% extends 'base.html' %}

{% block content %}
<div class="forms">
  {% include 'partials/tabs.html' %}
  <div class="ui segment">
    <h2 class="ui dividing header">Meeting</h4>
    {% include 'partials/default_form.html' with form=form %}
  </div>
</div>
<div class="ui two bottom attached buttons">
  <div class="ui button disabled">Previous</div>
  <button onclick="$('form').submit()" class="ui button primary">Next</button>
</div>
{% endblock %}
