<div class="ui modal" id="finish_meeting_modal">
    <div class="header">Finish Meeting</div>
    <div class="content">
        {% load widget_tweaks %}
        <form method="post" class="ui form" action="/meetings/meeting/finish/{{ meeting_id }}/">
            {% csrf_token %}

            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="send_invitations" id="id_send_invitations">
                    <label for="id_send_invitations">Invite all participants</label>
                </div>
            </div>

            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="send_pdfs" id="id_send_pdfs">
                    <label for="id_send_pdfs">Send meeting PDF to all participants</label>
                </div>
            </div>

            <div class="ui one bottom attached buttons">
                <button type="submit" class="ui button primary">Save</button>
            </div>
        </form>

    </div>
</div>