{% extends 'base.html' %}

{% block title %}Meetings{% endblock %}

{% block content %}
<div class="ui segment">
  <h1>Meetings</h1>
  <h4>List of all meetings.</h4>
</div>

<div class="ui container">
  <div class="ui three stackable cards">
    {% for meeting in meetings %}
      {% if meeting.status == 'NEW' %}
        <div class="card green">
      {% elif meeting.status == 'PLANNED' %}
        <div class="card orange">
      {% elif meeting.status == 'IN PROGRESS' %}
        <div class="card yellow">
      {% else %}
        <div class="card red">
      {% endif %}
        <div class="content">
          <a onclick="syncMeeting('{{ meeting.id }}')"><i class="icon sync" style="color: black; float: right;"></i></a>
          <a href="/meetings/pdf/print/{{ meeting.id }}/" target="_blank"><i class="icon print" style="color: black; float: right;"></i></a>
          <div class="header">{{ meeting.title }} by {{ meeting.creator }}</div>
          <div class="meta">
            <span>Start: {{ meeting.start|date:"d.m.Y H:i" }}</span><br />
            {% if meeting.end %}<span>End: {{ meeting.end|date:"d.m.Y H:i" }}</span><br />{% endif %}
            <span># of Particpants: {{ meeting.participants.all|length }}</span><br />
          </div>
          <div class="description">
            {% if meeting.description %}
              <span>{{ meeting.description }}</span><br />
            {% endif %}
          </div>
        </div>

        <div class="extra content">
          <span class="left floated like">
            <a href="{% url 'meetings.edit' meeting.id %}" class="reply" style="color: grey">Edit Meeting</a>
          </span>
          <span class="right floated star">
            {% if meeting.is_closed %}
              <a onclick="closeMeeting('{{ meeting.id }}')" style="color: green"><i class="icon lock open"></i> Reopen Meeting</a>
            {% else %}
              <a onclick="closeMeeting('{{ meeting.id }}')" style="color: red"><i class="icon lock"></i> Close Meeting</a>
            {% endif %}
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<a href="{% url 'meetings.create' %}" class="ui basic button" style="width: 100%; margin-top: 20px">
  <i class="icon add"></i>
  Add New
</a>

<script>
  function closeMeeting(meeting_id) {
    $.post( "/meetings/meeting/close/" + meeting_id + "/", function( data ) {
      location.reload();
    });
  }

  function deleteMeeting(meeting_id) {
    $.post( "/meetings/meeting/delete/" + meeting_id + "/", function( data ) {
      location.reload();
    });
  }

  function syncMeeting(meeting_id) {
    $.get( "/meetings/todoist/sync/" + meeting_id + "/", function( data ) {
      console.log(data);
    });
  }
</script>
{% endblock %}
