{% extends 'base.html' %}

{% block title %}Analysis{% endblock %}

{% block content %}
  {% for week in page_obj %}
      <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ week.project|upper }}</div>

                <div class="card-body">

                  <table class="mb-0 table table-striped">
                    <thead>
                        <tr>
                            <th>Bezeichnung</th>
                            <th>Wert</th>
                            <th>Interpretation</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <th scope="row">Planwert Fertigstellung</th>
                          <td>{{ week.planned_completion }}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <th scope="row">Istwert Fertigstellung</th>
                          <td>{{ week.actual_completion }}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <th scope="row">Planwert Kosten</th>
                          <td>{{ week.planned_costs }}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <th scope="row">Istwert Kosten</th>
                          <td>{{ week.actual_costs }}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <th scope="row">Planwert</th>
                          <td>{{ week.planned_value }}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <th scope="row">Earned Value</th>
                          <td>{{ week.earned_value }}</td>
                          <td></td>
                      </tr>
                      <tr>
                          <th scope="row">Planabweichung</th>
                          <td>{{ week.scheduled_variance }}</td>
                          <td>SV < 0 => Hinter dem Zeitplan<br />
                            SV > 0 => Vor dem Zeitplan</td>
                      </tr>
                      <tr>
                          <th scope="row">Kostenvarianz</th>
                          <td>{{ week.cost_variance }}</td>
                          <td>CV < 0 => Über dem Budget<br/>
                            CV > 0 => Unter dem Budget</td>
                      </tr>
                      <tr>
                          <th scope="row">CPI</th>
                          <td>{{ week.cost_performance_index }}</td>
                          <td>CPI < 1 => Über dem Budget<br />
                            CPI > 1 => Unter dem Budget</td>
                      </tr>
                      <tr>
                          <th scope="row">SPI</th>
                          <td>{{ week.scheduled_performance_index }}</td>
                          <td>SPI > 1 => Vor dem Zeitplan<br/>
                            SPI < 1 => Hinter dem Zeitplan</td>
                      </tr>
                    </tbody>
                </table>
                </div>

                <div class="d-block text-right card-footer">
                  <div style="float: left">
                    {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                  </div>

                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
  {% endfor %}
{% endblock %}
