<DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Documentor{% endblock %}</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'custom_styles/main.css' %}" />
        <link rel="stylesheet" href="{% static 'semantic_ui/semantic.min.css' %}" />
        <link rel="stylesheet" href="{% static 'custom_styles/ckeditor.css' %}" />
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <script
          src="https://code.jquery.com/jquery-3.5.1.min.js"
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
          crossorigin="anonymous"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
        <script src="{% static 'd3/index.min.js' %}"></script>
        <script src="{% static 'google/gantt.min.js' %}"></script>
    </head>
    <body>

      {% load crispy_forms_tags %}
      {% include 'partials/header.html' %}

      <div class="ui main container content" style="margin: 50px 0">
        {% block content %}base.html{% endblock %}
      </div>
      <div style="height: 50px;"></div>
      <script src="{% static 'semantic_ui/semantic.min.js' %}"></script>
      <script>
        $('select.search.dropdown').dropdown();
      </script>
    </body>
</html>
