<html>
<head>
    <meta charset="utf-8">
<style>
    @page title_template { margin: 5cm; }
</style>
</head>

<body>
    <div style="margin-bottom: 60px">
        <h1>Besprechungsnotizen: {{ meeting.title }}</h1>
        {% if meeting.description %}
            <h5>{{ meeting.description }}</h5>
        {% endif %}
        <span>Start der Besprechung: {{ meeting.start|date:"d.m.Y H:i" }}</span><br />
        {% if meeting.end %}<span>Ende der Besprechung: {{ meeting.end|date:"d.m.Y H:i" }}</span><br />{% endif %}
    </div>

    <div style="margin-bottom: 60px">
        <h2>Teilnehmer</h2>
        <table>
            <thead>
                <tr>
                    <th style="text-align: left;">Username</th>
                    <th style="text-align: left;">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                    <tr style="border-top: 1px dotted #aaa; padding-top: 4px">
                        <td>{{ participant.username }}</td>
                        <td>{{ participant.first_name }} {{ participant.last_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div style="margin-bottom: 60px">
        <h2>Tagesordnungspunkte</h2>
        <table>
            <thead>
                <tr>
                    <th style="text-align: left;width: 40px">ID</th>
                    <th style="text-align: left;">Dringlichkeit</th>
                    <th style="text-align: left;">Titel</th>
                    <th style="text-align: left;">Sektion</th>
                    <th style="text-align: left;">Beschreibung</th>
                </tr>
            </thead>
            <tbody>
                {% for agenda_item in agenda_items %}
                    <tr style="border-top: 1px dotted #aaa; padding-top: 4px">
                        <td>{{ agenda_item.id }}</td>
                        <td>
                            {% if agenda_item.important_score == '0' %}
                                Gering
                            {% elif agenda_item.important_score == '1' %}
                                Normal
                            {% elif agenda_item.important_score == '2' %}
                                Wichtig
                            {% elif agenda_item.important_score == '3' %}
                                Sehr wichtig
                            {% endif %}
                        </td>
                        <td>{{ agenda_item.title }}</td>
                        <td>{% if agenda_item.project_section %}{{ agenda_item.project_section }}{% else %}-{% endif %}</td>
                        <td>{{ agenda_item.text }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Notizen</h2>
        <table>
            <thead>
                <tr>
                    <th style="text-align: left;width: 40px">TOP ID</th>
                    <th style="text-align: left;">Typ</th>
                    <th style="text-align: left;">Zugewiesen</th>
                    <th style="text-align: left;">Ticket</th>
                    <th style="text-align: left;">Beschreibung</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                    <tr style="border-top: 1px dotted #aaa; padding-top: 4px">
                        <td>{{ note.agenda_item.id }}</td>
                        <td>
                            {% if note.note_type == 'NOTE' %}
                                Notiz
                            {% elif note.note_type == 'DECISION' %}
                                Entscheidung
                            {% elif note.note_type == 'OPTIONS' %}
                                Optionen
                            {% elif note.note_type == 'INFORMATION' %}
                                Information
                            {% elif note.note_type == 'PROGRESS INFORMATION' %}
                                Fortschrittsbericht
                            {% elif note.note_type == 'TBD' %}
                                Zu entscheiden
                            {% endif %}
                        </td>
                        <td>{% if note.assigned_to %}{{ note.assigned_to }}{% else %}-{% endif %}</td>
                        <td>{% if note.connect_to_ticket %}{{ note.connect_to_ticket }}{% else %}-{% endif %}</td>
                        <td>{{ note.text }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>