<div class="ui modal" id="edit_agenda_item_modal">
    <div class="header">Edit agenda item</div>
    <div class="content">
      {% include 'partials/default_form.html' with form=form form_aciton=form_action %}
    </div>
</div>