{% extends 'base.html' %}

{% block content %}
{% include 'partials/tabs.html' %}
<div class="ui segment">
  <h2 class="ui dividing header">Agenda Items</h4>
    <div class="ui comments" style="max-width: unset">
      {% for agenda_item in agenda_items %}
        {% include 'partials/agenda_item.html' with agenda_item=agenda_item %}
      {% endfor %}
    </div>
    <button class="ui basic button" onclick="showNewAgendaItemModal('{{ meeting_id }}');" style="width: 100%">
      <i class="icon add"></i>
      Add New
    </button>
</div>

<div class="ui modal" id="new_agenda_item_modal">
  <div class="header">Add new agenda item</div>
  <div class="content">
    {% include 'partials/default_form.html' with form=form %}
  </div>
</div>

<div id="edit_modal_holder"></div>

<div class="forms">
  <div class="ui two bottom attached buttons">
    <a href="{% url 'meetings.edit' meeting_id %}" class="ui button">Previous</a>
    <a href="{% url 'notes.create' meeting_id %}" class="ui button primary">Next</a>
  </div>
</div>

<script>
  function showNewAgendaItemModal(meeting_id) {
    $('#new_agenda_item_modal').modal('show');
    $('#id_meeting').val(meeting_id).change();
  }

  function markDone(agenda_item_id) {
    $.post( "/meetings/agenda_items/done/" + agenda_item_id + "/", function( data ) {
      location.reload();
    });
  }

  function deleteItem(agenda_item_id) {
    $.post( "/meetings/agenda_items/delete/" + agenda_item_id + "/", function( data ) {
      location.reload();
    });
  }

  function editItem(agenda_item_id) {
    $.get( "/meetings/agenda_items/edit/" + agenda_item_id + "/", function( data ) {
      $('#edit_modal_holder').html(data);
    })
    .done(function( data ) {
      $('select.search.dropdown').dropdown();
      $('#edit_agenda_item_modal').modal('show');
    });
  }
</script>
{% endblock %}
