{% extends 'base.html' %}

{% block title %}Agenda Items{% endblock %}

{% block content %}
<div class="main-card mb-3 card">
  <div class="card-body">
      <h5 class="card-title">Agenda Items</h5>
      <table class="mb-0 table">
        <thead>
          <th>ID</th>
          <th style="text-align: left;">Title</th>
          <th>Description</th>
          <th style="text-align: right;">Actions</th>
        </thead>
        <tbody>
          {% for item in agenda_items %}
            <tr>
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.title }}</td>
              <td>{{ item.text }}</td>
              <td>
                <form action="/meetings/agenda_items/delete/{{ item.id }}/" style="margin: 0" method="POST">
                  {% csrf_token %}
                  <button type="submit" style="float: right;" class="mb-2 mr-2 btn-square btn btn-danger">Delete</button>
                </form>
                <a href="/meetings/agenda_items/edit/{{ item.id }}/"><button style="float: right;" class="mb-2 mr-2 btn-square btn btn-warning">Edit</button></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

<a href="/meetings/agenda_items/create/">
  <button type="button" class="btn btn-secondary btn-pill" style="position: absolute; right: 20px; bottom: 80px; border-radius: 800px;">
    <i class="fa fa-plus fa-w-20"></i>
  </button>
</a>
{% endblock %}
