<script type="text/javascript">
    google.charts.load("current", {packages:["timeline"]});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var container = document.getElementById('chart_gantt');
      var chart = new google.visualization.Timeline(container);
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn({ type: 'string', id: 'Task' });
      dataTable.addColumn({ type: 'string', id: 'Name' });
      dataTable.addColumn({ type: 'date', id: 'Start' });
      dataTable.addColumn({ type: 'date', id: 'End' });

      $.getJSON( "/gantt", function( response ) {
        let tasks = []
        response.forEach(element => {
          tasks.push([
            element[1], 
            "",
            new Date(Date.parse(element[3])),
            new Date(Date.parse(element[4])),
          ])
        });
        
        dataTable.addRows(tasks);

        var options = {
          timeline: { colorByRowLabel: true },
        };

        chart.draw(dataTable, options);

      });
    }
</script>
<div class="ui segment">
  <h2 class="ui dividing header">Upcoming Sprint</h2>
  <div id="chart_gantt" style="font-family: Arial, Helvetica, sans-serif;"></div>
</div>
