<div class="ui segment">
  <h2 class="ui dividing header">Indicators</h2>
  <div class="ui four statistics" style="padding: 20px 0">
    <div class="statistic">
      <div class="value">
        50+
      </div>
      <div class="label">
        Up and running
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Five<br>
        Hundred
      </div>
      <div class="label">
        Signed-In Users
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="handshake outline icon"></i> {{ all_projects|length }}
      </div>
      <div class="label">
        Projects in total
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <img src="https://semantic-ui.com/images/avatar/small/joe.jpg" class="ui circular inline image">
        {{ num_of_users }}
      </div>
      <div class="label">
        Team Members
      </div>
    </div>
  </div>
</div>
