<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de-DE">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Demystifying Email Design</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style type="text/css">
		a[x-apple-data-detectors] {color: inherit !important;}
	</style>

</head>
<body style="margin: 0; padding: 0;">
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td style="padding: 20px 0 30px 0;">

      <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; border: 1px solid #cccccc;">
        <tr>
          <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
            <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 24px; margin: 0;">Sie wurden zu einem Meeting hinzugefügt</h1>
            <h2 style="font-family: Arial, Helvetica, sans-serif;font-size: 20px; margin: 20px;">Titel: {{ meeting.title }}</h2>
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
              <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 20px 0 30px 0;">
                  <p style="margin: 0;">
                    Eckdaten:
                    <div style="margin-left: 15px">
                      <p>Start: {{ meeting.start|date:"d.m.Y H:i" }}</p>
                      {% if meeting.end %}
                        <p>Geplantes Ende: {{ meeting.end|date:"d.m.Y H:i" }}</p>
                      {% else %}
                        <p>Geplantes Ende: offen</p>
                      {% endif %}
                      {% if meeting.online_meeting_url %}
                        <p>Ort des Meetings: <a href="{{ meeting.online_meeting_url }}">Online Meetingraum</a></p>
                      {% elif meeting.offline_meeting_location %}
                        <p>Ort des Meetings: {{ meeting.offline_meeting_location }}</p>
                      {% endif %}
                    </div>
                  </p>
                </td>
              </tr>
              <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 20px 0 30px 0;">
                  <p style="margin: 0;">
                    Teilnehmer:
                    <ul>
                      {% for participant in meeting.participants.all %}
                        {% if participant.first_name != '' and participant.last_name != '' %}
                          <li>{{ participant.first_name }} {{ participant.last_name }}</li>
                        {% else %}
                          <li>{{ participant.username }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </p>
                </td>
              </tr>
              <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 24px; padding: 20px 0 30px 0;">
                  <p style="margin: 0;">
                    Tagesordnung:
                    <ul>
                      {% for agenda_item in agenda_items %}
                        <li>{{ agenda_item.title }}</li>
                      {% endfor %}
                    </ul>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        
			</table>
		</td>
	</tr>
</table>

			</td>
		</tr>
	</table>
</body>
</html>